{% extends 'base/base.html' %}
{% load static %}

{% block title %}home{% endblock title %}

{% block link %}
<link type="text/css" rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock link %}
{% block script %}
<script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock script %}

{% block main %}
    <div id="homeDiv">
        {# 轮播 #}
        <div class="swiper-container" id="slider">
            <div class="swiper-wrapper">
                {% for item in slideList %}
                <div class="swiper-slide">
                    <a href="#"><img src="{{ item.img }}"></a>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>



        {# 显示信息 #}
        {# 显示信息 #}
        <div id="description">
            {% for item in mainList %}
                <div class="description-group">
                    <div>
                        <span class="category">{{ item.categoryName }}</span>
                        <span class="more"><a href="/market/{{ item.categoryId }}/">更多&gt;</a></span>
                    </div>
                    <div class="guide">
                        <a href="#" ><img src="{{ item.img }}" /></a>
                    </div>
                    <ul>
                        <li>
                            <div class="product-img">
                                <a href="#"><img src="{{ item.product1.img }}"/></a>
                            </div>
                            <div class="long-name">
                                <div>{{ item.product1.longName }}</div>
                            </div>
                            <div class="price">
                                <div>{{ item.product1.price }}</div>
                            </div>
                        </li>
                        <li>
                            <div class="product-img">
                                <a href="#"><img src="{{ item.product2.img }}"/></a>
                            </div>
                            <div class="long-name">
                                <div>{{ item.product2.longName }}</div>
                            </div>
                            <div class="price">
                                <div>{{ item.product2.price }}</div>
                            </div>
                        </li>
                        <li>
                            <div class="product-img">
                                <a href="#"><img src="{{ item.product3.img }}"/></a>
                            </div>
                            <div class="long-name">
                                <div >{{ item.product3.longName }}</div>
                            </div>
                            <div class="price">
                                <div>{{ item.product3.price }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}

